@keyframes arrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}

@keyframes heart-scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}