.page {
  color: var(--color-accent);
  background-color: var(--color-background);
  background-image: repeating-linear-gradient(90deg, var(--repeating-gradient) 0 2px, transparent 2px 4px), repeating-linear-gradient(var(--repeating-gradient) 0 2px, transparent 2px 4px),
    linear-gradient(var(--linear-gradient-first), var(--linear-gradient-second));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--text-wight);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 100px auto;
  border: 2px solid var(--color-accent);
  font-family: var(--family-PressStart2P);
  background-color: var(--color-background);
  max-inline-size: 700px;
  min-block-size: 368px;
}

.header__logo {
  margin-block-end: 20px;
  font-size: var(--size-logo-header);
}

.header__title {
  font-size: var(--size-title-header);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin: 25px 0;
}

.theme-menu__item {
  margin-inline-start: 20px;
}

.theme-menu__button {
  border: none;
  padding: 0;
  font-size: var(--size-button-header);
  text-transform: uppercase;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  transition: 0.3s;
  pointer-events: none;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  margin-bottom: -2px;
  background-color: var(--color-accent);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
}

.block__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block__item {
  margin-block-end: 50px;
  border: 2px solid var(--color-accent);
  background-color: var(--color-background);
  max-inline-size: 704px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__subtitle {
  margin: 3px 10px 3px 10px;
  color: var(--color-accent);
  font-family: var(--family-inter);
  font-weight: var(--subtitle-wight);
  font-size: 18px;
  line-height: 23px;
}

.card__container {
  position: relative;
  max-inline-size: 700px;
  aspect-ratio: 1 / 1;
}

.card__label {
  position: absolute;
  top: 29px;
  right: 26px;
  z-index: 1;
  color: var(--color-accent);
  font-family: var(--family-PressStart2P);
  font-weight: var(--text-wight);
  font-size: 14px;
  line-height: 14px;
  text-shadow: 0 1px var(--color-background), 1px 0 var(--color-background), 0 -1px var(--color-background), -1px 0 var(--color-background);
  background-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--color-background)) or (-webkit-text-stroke: 1px var(--color-background))) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-background);
    text-stroke: 1px var(--color-background);
  }
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card__image_zero-sprint {
  filter: blur(0.2rem);
}

.card__image_clean-sheet {
  filter: brightness(200%);
}

.card__image_it-wont-work {
  filter: grayscale(1);
}

.card__image_chase-the-ideal {
  filter: saturate(158%);
}

.card__image_closers {
  filter: sepia(80%);
}

.card__image_workaround-strategies {
  filter: hue-rotate(-90deg);
}

.card__image_hands-falling {
  filter: opacity(0.7);
}

.card__image_here-now {
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}

.card__content {
  margin: 27px auto 25px;
  max-inline-size: 646px;
}

.card__text {
  color: var(--color-accent);
  font-family: var(--family-inter);
  font-weight: var(--text-wight);
  font-size: 18px;
  line-height: 21px;
}

.card__text:first-child {
  margin-block-end: 27px;
}

.card__container-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  margin-block-start: 25px;
}

.button__text {
  mix-blend-mode: difference;
  color: var(--button-hover);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.button {
  position: relative;
  border: 2px solid var(--color-accent);
  overflow: hidden;
  font-family: var(--family-PressStart2P);
  font-weight: var(--text-wight);
  font-size: 14px;
  line-height: 12.6px;
  background-color: var(--color-background);
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-accent);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  z-index: 0;
}

.button:hover::after {
  transform: translateX(0);
}

.button:focus {
  box-shadow: 2px 2px 0 var(--color-accent);
  outline: none;
  transition: box-shadow 0.3s;
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: 0.3s ease;
  cursor: pointer;
}

.heart {
  transform-origin: center center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-accent);
  transition: 0.3s ease;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .contour {
  opacity: 1;
  fill: var(--color-sparks);
  transition: 0.3s 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.main-body {
  opacity: 0;
  fill: currentColor;
  transition: 0.3s;
}

.card__icon-button:hover .main-body {
  opacity: 1;
  transition: 0.3s 0.05s;
}

.card__icon-button:active .main-body {
  fill: var(--color-sparks);
  transition: 0.3s 0.05s;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--color-sparks);
  transition: 0.3s 0.05s;
}

.core {
  opacity: 0;
  fill: currentColor;
  transition: 0.3s 0.03s;
}

.card__icon-button:hover .core {
  opacity: 1;
  transition: 0.3s;
}

.card__icon-button:active .core {
  fill: var(--color-sparks);
  transition: 0.3s;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--color-sparks);
  transition: 0.3s;
}

.sparks {
  opacity: 0;
}

.footer {
  display: flex;
  justify-content: center;
}

.button__save {
  margin-block-end: 103px;
  inline-size: 335px;
  block-size: 51px;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
}

.dialog {
  position: fixed;
  inset: 0;
  border: 2px solid var(--color-accent);
  padding: 0;
  background-color: var(--color-background);
  max-inline-size: max(100%, 357px);
  min-inline-size: 193px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__container {
  display: flex;
  align-items: center;
  margin: 30px;
  color: var(--color-accent);
  max-inline-size: 293px;
}

.dialog__floppy {
  margin-inline-end: 20px;
  object-fit: cover;
  object-position: center;
  min-inline-size: 39px;
  block-size: 39px;
}

.dialog__subtitle {
  color: var(--color-accent);
  font-family: var(--family-PressStart2P);
  font-weight: var(--text-wight);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog__button {
  margin-block-end: 30px;
  color: var(--color-accent);
  text-transform: uppercase;
  inline-size: 293px;
  block-size: 38px;
}

@media (width <= 600px) {
  .header__logo {
    font-size: var(--size-logo-header-mobile);
  }

  .header__title {
    font-size: var(--size-title-header-mobile);
  }
}

@media (width <= 376px) {
  .header {
    max-inline-size: 371px;
    min-block-size: 323px;
  }

  .card__subtitle {
    margin: 6px 10px 0px 10px;
  }

  .card__container {
    max-inline-size: 375px;
  }

  .card__label {
    right: 12px;
  }

  .card__content {
    max-inline-size: 321px;
  }

  .footer__floppy {
    width: 28px;
    height: 28px;
  }

  .button__save {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;   
    margin-block-end: 100px;
    inline-size: 306px;
    block-size: 84px;
  }

  .dialog__container {
    margin: 30px 42px;
    max-inline-size: 257px;
  }

  .dialog__button {
    inline-size: 257px;
  }
}